# ==============================
# ENTORNO VIRTUAL
# ==============================

env/
.venv/


# ==============================
# PYTHON
# ==============================

__pycache__/
*.pyc
*.pyo


# ==============================
# VARIABLES PRIVADAS
# ==============================

.env


# ==============================
# BASE DE DATOS LOCAL
# ==============================

database/
*.db
*.sqlite
*.sqlite3


# ==============================
# DATOS BIOMÉTRICOS
# ==============================

base_datos_rostros/


# ==============================
# DATASETS GENERADOS
# ==============================

datasets/


# ==============================
# MODELOS ENTRENADOS
# ==============================

modelos_ml/
*.pkl


# ==============================
# ARCHIVOS TEMPORALES
# ==============================

*.log
*.tmp
